spring:
  application:
    name: TaskFlow

  datasource:
    url: jdbc:postgresql://localhost:5432/taskflow-db
    username: taskflow-user
    password: mysecretpassword
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8888